body{
    text-align: center;
    background-image: url('../wallpaperbetter.com_1920x1080.jpg');
    background-repeat: no-repeat; /* Impede que a imagem se repita */
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button{
    margin: 30px;
    padding: 5px 120px;
    cursor: pointer;
    background-color: rgb(116, 122, 122);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
}

.stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0 0 0 / 80%);
    border: solid rgb(255, 255, 255);
    border-radius: 30px;
}
  

.square{
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: rgb(116, 122, 122);
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom:0;
    left:0;
    right:0;
}